.metadata
language.settings.xml
src/config.h.in
autom4te.cache
build-aux
aclocal.m4
configure
Makefile.in
m4
aminclude.am
config.log
config.status
libtool
Makefile
wolftpm-config
.dirstamp
*.la
*.lo
config.h
stamp-h1
test-suite.log
src/.deps
src/.libs
RemoteSystemsTempFiles
*.o
*.deps
*.libs
examples/wrap/wrap_test
examples/native/native_test
