*~
patch/
*.swp
.metadata
language.settings.xml
src/config.h.in
autom4te.cache
build-aux
aclocal.m4
configure
Makefile.in
m4
aminclude.am
config.log
config.status
libtool
Makefile
wolftpm-config
.dirstamp
*.la
*.lo
config.h
stamp-h1
test-suite.log
src/.deps
src/.libs
RemoteSystemsTempFiles
*.o
*.dep
*.deps
*.libs
*.dSYM
.vs
IDE/IAR-EWARM/settings
wolftpm/options.h

# common cmake build location
build/

examples/wrap/wrap_test
examples/native/native_test
examples/bench/bench
examples/csr/csr
examples/tls/tls_client
examples/pkcs7/pkcs7
examples/timestamp/signed_timestamp
examples/pcr/quote
examples/pcr/read_pcr
examples/pcr/extend
examples/pcr/policy
examples/pcr/policy_sign
examples/pcr/reset
examples/timestamp/clock_set
examples/management/flush
pkcs7tpmsigned.p7s
pkcs7tpmsignedex.p7s
examples/tls/tls_server
examples/tls/tls_client_notpm
tests/unit.test
examples/keygen/create_primary
examples/keygen/keyload
examples/keygen/keygen
examples/keygen/keyimport
examples/keygen/external_import
examples/nvram/store
examples/nvram/read
examples/nvram/counter
examples/nvram/policy_nv
examples/gpio/gpio_config
examples/gpio/gpio_set
examples/gpio/gpio_read
examples/gpio/gpio_nuvoton
examples/seal/seal
examples/seal/unseal
examples/attestation/make_credential
examples/attestation/activate_credential
examples/boot/secure_rot
examples/boot/secret_seal
examples/boot/secret_unseal
examples/firmware/ifx_fw_extract

# Generated Cert Files
certs/ca-*.pem
certs/ca-*.der
certs/ca-*.crl
certs/*.par
certs/crlnumber*
certs/serial
certs/index*
certs/tpm-*.csr
certs/server-*.der
certs/server-*.pem
certs/client-*.der
certs/client-*.pem
certs/serial.old
certs/0*.pem
certs/1*.pem
certs/2*.pem
certs/3*.pem
certs/4*.pem
certs/5*.pem
certs/6*.pem
certs/7*.pem
certs/8*.pem
certs/9*.pem

# Test files
quote.blob
keyblob.bin
ecc_test_blob.raw
rsa_test_blob.raw
ak.name
cred.blob
ek.pub
srk.pub
ak.pem
ek.pem

# Generated Documentation
docs/html

# Wrapper
wrapper/CSharp/obj
wrapper/CSharp/bin

# Visual Studio
IDE/VisualStudio/Debug
IDE/VisualStudio/DLL Debug
IDE/VisualStudio/DLL Release
IDE/VisualStudio/Release
