*~
patch/
*.swp
.metadata
language.settings.xml
src/config.h.in
autom4te.cache
build-aux
aclocal.m4
configure
Makefile.in
m4
aminclude.am
config.log
config.status
libtool
Makefile
wolftpm-config
.dirstamp
*.la
*.lo
config.h
stamp-h1
test-suite.log
src/.deps
src/.libs
RemoteSystemsTempFiles
*.o
*.deps
*.libs
wolftpm/options.h

examples/wrap/wrap_test
examples/native/native_test
examples/bench/bench
examples/csr/csr
examples/tls/tls_client
examples/pkcs7/pkcs7
examples/timestamp/signed_timestamp
examples/pcr/quote
examples/pcr/extend
examples/pcr/reset
examples/timestamp/clock_set
examples/management/flush
pkcs7tpmsigned.p7s
pkcs7tpmsignedex.p7s
examples/tls/tls_server
examples/tls/tls_client_notpm
tests/unit.test
examples/keygen/keyload
examples/keygen/keygen
examples/keygen/keyimport

# Generated Cert Files
certs/ca-*.pem
certs/ca-*.der
certs/ca-*.crl
certs/*.par
certs/crlnumber*
certs/serial
certs/index*
certs/tpm-*.csr
certs/server-*.der
certs/server-*.pem
certs/client-*.der
certs/client-*.pem
certs/serial.old
*.dep
IDE/IAR-EWARM/settings
quote.blob
keyblob.bin
ecc_test_blob.raw
rsa_test_blob.raw
